@model IEnumerable<blogMakale.Models.KategoriModel>

@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Default.cshtml";
}


<p>
    <a asp-action="KategoriEkle">Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>
                <a asp-action="KategoriGuncelle" asp-route-id="@item.id_Kategori" class="btn btn-primary">Güncelle</a>             
                <a asp-action="KategoriSil" asp-route-id="@item.id_Kategori" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
