@model blogMakale.Models.KullaniciModel

@{
    ViewData["Title"] = "KullaniciGuncelle";
    Layout = "~/Views/Shared/_Default.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="KullaniciGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_Kullanici" />
           
            <div class="form-group">
                <div class="custom-file">                  
                    <input asp-for="Foto" class="form-control custom-file-input" type="file">
                    <label class="custom-file-label">Dosya Seç...</label>
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AdSoyad" class="control-label"></label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listele">Listeye Geri Dön</a>
</div>

