@model blogMakale.Models.EtiketModel

@{
    ViewData["Title"] = "EtiketEkle";
    Layout = "~/Views/Shared/_Default.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EtiketEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EtiketAd" class="control-label"></label>
                <input asp-for="EtiketAd" class="form-control" />
                <span asp-validation-for="EtiketAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listele">Listeye Geri Dön</a>
</div>

